$MainOrange: #ff7f00; // OrangeJuice
$LightOrange: #f3c775; // OrangeChocolage
$OrangeDrop: #e18e3f;
$DarkedOrange: #b16002;

$SlimeDarkGreen: #1e2422;
$SaltyDarkGreen: #131a18;

.test {
  color: #627e35;
  color: #586965;
  color: #b1616d;
  color: #cf1acf;
  color: #f08929;
  color: #754111;
  color: #ff7500;
  color: #fff12c;
  color: #334441;
  color: #1a2424;
  color: #031414;
  color: #0e1818;
  color: #33423f;
  color: #f0d300;
  color: #ecca30;
  color: #00ffea;
  color: #ff7500;
  color: #ff7500b2;
  color: #fc5757;
  color: #cc3d3d;
  color: #37413f;
  color: #362617;
  color: #a35710;
  color: #804916;
  color: #573a1f;
  color: #0f0c09;
  color: #325e51;
  color: #649688;
  color: #6aa087;
  color: #6aa08780;
}
